body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

/* Responsividade - Quando o tamanho do navegador for no minimo 1200px serão aplicadas as regras css abaixo*/
@media (min-width: 1200px) {
  .container {
      width: 1170px;
      margin: 0 auto;
  }
}

.label {
  margin: 0.5em;
}

.col-valor-header {
  width: 120px;
}

.col-valor-content {
  text-align: right;
}

.col-data-header {
  width: 120px;
}

.col-data-content {
  text-align: center;
}
